{% extends 'oficina/base.html' %}

{% block content %}

<h1>Dashboard</h1>

<p>Bem-vindo ao sistema da assistência técnica.</p>

<h1>Painel do Sistema</h1>

<div class="row mb-4">

<div class="col-md-3">
<div class="card text-center">
<div class="card-body">
<h5>Total Clientes</h5>
<h2>{{ total_clientes }}</h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-center">
<div class="card-body">
<h5>Total Ordens</h5>
<h2>{{ total_os }}</h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-center">
<div class="card-body">
<h5>Diagnóstico</h5>
<h2>{{ diagnostico }}</h2>
</div>
</div>
</div>

<div class="col-md-3">
<div class="card text-center">
<div class="card-body">
<h5>Em Reparo</h5>
<h2>{{ reparo }}</h2>
</div>
</div>
</div>

</div>

<div class="row">

<div class="col-md-4">

<div class="card">

<div class="card-body">

<h5>Clientes</h5>

<p>Gerenciar clientes cadastrados</p>

<a href="/clientes/" class="btn btn-primary">Ver Clientes</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card">

<div class="card-body">

<h5>Equipamentos</h5>

<p>Gerenciar equipamentos</p>

<a href="/equipamentos/" class="btn btn-primary">Ver Equipamentos</a>

</div>

</div>

</div>

<div class="col-md-4">

<div class="card">

<div class="card-body">

<h5>Ordens de Serviço</h5>

<p>Gerenciar manutenções</p>

<a href="/ordens/" class="btn btn-primary">Ver Ordens</a>

</div>

</div>

</div>

</div>

{% endblock %}