<!DOCTYPE html>
<html>
<head>
    <title>Novo Cliente</title>
</head>

<body>

<h1>Cadastrar Cliente</h1>

<form method="POST">

    {% csrf_token %}

    Nome:<br>
    <input type="text" name="nome"><br><br>

    Telefone:<br>
    <input type="text" name="telefone"><br><br>

    Email:<br>
    <input type="email" name="email"><br><br>

    Endereço:<br>
    <input type="text" name="endereco"><br><br>

    <button type="submit">Salvar</button>

</form>

<br>

<a href="/clientes/">Voltar</a>

</body>
</html>